@font-face {
    font-family: myFont1 ;
    src: url("fonts/Quicksand-Regular.ttf");
    
}

@font-face {
    font-family: myFont2 ;
    src: url("fonts/Cabin-Regular.ttf");
    
}

body {
    background-image:url("images/pexels-mudassir-ali-3812773.jpg");   
    padding-top:10px;
    display:grid;
    grid-template-columns: repeat( 3, 1fr);
    justify-content:center;
    
}

.whole_container {
    grid-column-start:2 ;
    grid-column-end:2 ;
    background-color:rgb(31, 23, 44);
    border-radius: 20px;
    padding-left:20px;
    padding-right:20px;
    justify-content:center;
    width:245px; 
    border-style: solid;
    border-color:rgba(255, 255, 255, 0.322); 
    border-width:.1px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.401);
}

.container1 {
    grid-column-start:2 ;
    grid-column-end:2 ;
    height:70px;
    padding-bottom:20px;     
}

#name {
    color:rgb(194, 194, 194);
    font-family:myFont1, Arial, Helvetica, sans-serif;
    font-size:28px;
    text-align: center;
       
}
 
.container2 {
    height:425px;
    grid-column-start:2 ;
    grid-column-end:2 ;       
}

#labelForUser {
    color:rgb(194, 194, 194);
    font-size:15px;
    font-family: myFont2, Arial, Helvetica, sans-serif;
    
}


.label1 {
    color:rgb(194, 194, 194);
    font-size:15px;
    text-align:center;
    font-family: myFont2, Arial, Helvetica, sans-serif;
    grid-column-start:2 ;
    grid-column-end:2 ;    
}
.radioLabel {
    color:rgb(194, 194, 194);
    font-family: myFont2, Arial, Helvetica, sans-serif;
    font-size:15px;
    position:relative;
    top:2px;

}
.radioInput {
    height:22px ;
    width:22px ;
    vertical-align: middle;
} 

.question {
    text-align: center;
    font-family:myfont2, Arial, Helvetica, sans-serif;
    letter-spacing: 1.0px;
    font-size:18px;
    max-width:240px;
    margin-bottom:0px;
    border-radius:4px; 
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

#btn1 {
    margin-bottom:0px;
    font-family:myfont2, Arial, Helvetica, sans-serif;
    margin-bottom:23px;
}

#computers_pick {
    margin-bottom:50px;
}

#btn2 {
    margin-bottom:0px;
    font-family:myfont2, Arial, Helvetica, sans-serif;
     
}

#tell_winner {
    margin-top:0px;
    font-size:23px;
    text-align: center;
    font-family: myFont2, Arial, Helvetica, sans-serif;
    padding-top:5px;
    color:rgb(0, 0, 0);
    max-width:240px;
    margin-bottom:23px;
    border-radius:8px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    resize:none;
}

#clearAll {
    margin-bottom:20px;
    font-family:myfont2, Arial, Helvetica, sans-serif;   
}

button {
    background-color:rgb(184, 184, 184);
    border-radius:3px;
    width:50px;
    
    
}

button:hover {
    background-color:rgb(255, 255, 255);
    color:blue;
    
}
#mainScoreLabel {
    color:rgb(194, 194, 194);
    position: relative;
    left:10px;
}
#scoreLabel {
    color:rgb(194, 194, 194);
    font-size:12px;
    position: relative;
    left:15px;
}

.myScore {
    width:20px;
    -moz-appearance: textfield;
    position: relative;
    left:15px;
    
    
    
}