@font-face {
    font-family: myFont1 ;
    src: url("fonts/Quicksand-Regular.ttf");
    
}

@font-face {
    font-family: myFont2 ;
    src: url("fonts/Cabin-Regular.ttf");
    
}

body {
    background-color:rgb(31, 23, 44);  
    background-image:url("images/pexels-mudassir-ali-2680270.jpg");   
    padding-top:20px;
     
}

    


.whole_container {
    display:grid; 
    grid-template-columns: repeat( 3, 1fr);  
    justify-content: center; 
    background-color:rgb(31, 23, 44);
    grid-template-rows: auto; 
    border-radius: 20px;
    
   
   
    
}
.container1 {
    display:grid; 
    grid-column-start:2 ;
    grid-column-end:2 ;
    height:70px;
    padding-bottom:40px; 


    
     
    
}

#name {
    color:white;
    font-family:myFont1, Arial, Helvetica, sans-serif;
    font-size:29px;
    text-align: center;
    padding-top:20px;   
}




.container2 {
    display:grid;
    gap:10px; 
    grid-column-start:2 ;
    grid-column-end:2 ; 
      
}

.label1 {
    color:rgb(255, 217, 0);
    font-size:12px;
    text-align:center;
    font-family: myFont2, Arial, Helvetica, sans-serif;
}

.question {
    text-align: center;
    font-family:myfont2, Arial, Helvetica, sans-serif;
    letter-spacing: 1.0px;
    font-size:18px;
}

#btn1 {
    margin-bottom:10px;
    background-color:rgb(184, 184, 184);
    max-width:60px;
    color:rgb(0, 0, 0);
    font-family:myfont2, Arial, Helvetica, sans-serif;
}

#computers_pick {
    margin-bottom:0px;
}

#btn2 {
    margin-bottom:10px;
    background-color:rgb(184, 184, 184);
    max-width:60px;
    color:rgb(0, 0, 0);
    font-family:myfont2, Arial, Helvetica, sans-serif;
}
#tell_winner {
    margin-top:0px;
    font-size:23px;
    text-align: center;
    font-family: myFont2, Arial, Helvetica, sans-serif;
    padding-top:30px;
    color:rgb(0, 0, 0);
}
#clearAll {
    margin-bottom:10px;
    background-color:rgb(184, 184, 184);
    max-width:60px;
    color:rgb(0, 0, 0);
    font-family:myfont2, Arial, Helvetica, sans-serif;
    
}